<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imastudio.firstkotlinapp">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_kotlin"
        android:name=".App"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetailListActivity"></activity>
        <activity android:name=".activity.ListCustomActivity" />
        <activity android:name=".activity.ListBiasaActivity" />
        <activity android:name=".activity.SpinnerActivity" />
        <activity android:name=".activity.WebActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.RecyclerActivity" />
        <activity android:name=".activity.GridActivity" />
        <activity android:name=".activity.ListActivity" />
        <activity android:name=".activity.KalkulatorActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>